.EventBar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.2);

    margin-left: 1.2em;
    margin-right: 1.2em;
    width: 33.8em;
    height: 2.5em;
    border: 0;
    border-radius: 15px;
    margin-bottom: 1.2em;
    right: 20px;
    
}