.LiveFeed{
    position: relative;
    width: 640px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 20px;
}

iframe{
    border-radius: 20px;
    border: none;
}






.sub-frame-error{
    border-radius: 20px;
    border:none
}