.switch {
    position: relative;
    display: inline-block;
    width: 18em;
    height: 5.3em;
    opacity: 100;
    margin-right: 2em;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #EF4444;
    transition: .4s;
    border-radius: 85px;
}

.switch input {display:none}

.slider:before {

     position: absolute;
     content: "";
     height: 4.3em;
     width: 4.3em;
     left: 7px;
     bottom: 8px;
     background-color: white;
     transition: .4s;
     border-radius: 85px;

}


input:checked + .slider {
    background-color: #22C55E;
}

input:checked + .slider::before {
    transform: translateX(12.7em);
}